

@media screen and (max-width:576px) {
        

    nav{
        background-color: #e5e5e5;
        padding: 10px 40px;
        border-radius: 5px;
     }

    .simple-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 34px 50px;
    }


/* //////////////////////////////////////// */

    .card-item-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
     }

     .card-section{
        padding:40px  40px;
        margin: 0 auto;
    
    }
    .card-item{
        width:100%;
        padding:15px;
       
    }
    .card-title-wrap h2{
      font-size:3em;
  }



  .contact-sec{
    padding:30px 0px;

}

.foot-container{
    margin: 0 auto;
    max-width:1120px;
    padding:0px 20px;
}

  .upper-div{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    padding: 70px 20px;
  

 }


 .upper-div h1    {
    color: rgb(255, 255, 255);
font-family: Bebas Neue;
font-size:1.7em;
font-weight: 700;
letter-spacing: 3px;
}

.btn {
    padding: 10px 20px;
    font-size: 12px;
} 


/* /////////////////////////////////////////////// */



.hero-section{
    padding:20px 10px 90px;
    
   
}

.hero-wrap2,.hero-wrap1{
    display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:column-reverse;
  gap: 50px;
}


.hero-right-content{
    width:350px;
    /* position: relative; */
    margin: auto;
}

.hero-right-content2{
    width:350px;
    /* position: relative; */
    margin: auto;
    margin-right:7vw;
}


.hero-left-content{
     width:100%;
     margin: auto;
     text-align:center;
     
    
}

.hero-left-content h1{
    font-family: Bebas Neue;
font-size: 3em;
line-height: 60px;
letter-spacing: 5px;
margin-bottom: 18px;
text-align: center;
margin-right: 0px;
}

.hero-left-content span {
    font-size: 1.2em;
    display: block;
}

.hero-left-content p{
font-size: 15px;
line-height: 25px;
margin-bottom: 20px;
text-align: center;
}




.image-1{
    position:relative;
   width:100%; 
   margin: 0 auto;
   z-index:1;
  
}

.zaxis-img1{
    position:absolute;
    width: 360px;
    left: -3px;
    top: 106px;
}

.image-2{
    position:relative;
   width: 100%;
    z-index:1; 
}

  
.zaxis-img2{
    position:absolute;
    width: 318px;
        left: -2px;
        top: 114px;
}

}
    
/* ////////////////////////////////////////////////////////// */

@media screen and (min-width:576px) and (max-width:719px){
    .simple-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 34px 59px;
    }

   
    nav{
        background-color: #e5e5e5;
        padding: 10px 40px;
        border-radius: 5px;
     }
   
    .card-section {
        padding: 100px 50px;
    }
   
    .card-item-wrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
     }

     .card-item{
        padding:15px;
    }
    


    .contact-sec{
        padding:30px  40px 40px;
    
    }
    .foot-container{
        margin: 0 auto;
        max-width:1120px;
        padding:10px 20px;
    }

    .upper-div{
        margin: 0 auto;
        display: flex;
        gap:30px;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
      
     }
    
    .upper-div h1    {
        font-size:35px;
        line-height: 20px;
        letter-spacing: 3px;
        margin-top: 50px;
        }

        .btn {
            padding: 12px 25px;
            font-size: 14px;
            margin-bottom: 40px;
        }   

        .hero-section{
            padding:18px 0px;
            
           
        }
        
        .hero-wrap2,.hero-wrap1{
            display:flex;
          justify-content:space-between;
          align-items: center;
          flex-direction:column-reverse;
          gap: 70px;
        }
        

        .hero-right-content,.hero-right-content2{
            width:400px;
            /* position: relative; */
            margin: auto;
            
        }

        .hero-left-content{
             width:530px;
             margin: auto;
             text-align:center;
            
        }
        
        .hero-left-content h1{
            font-family: Bebas Neue;
        font-size: 3em;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 18px;
        text-align: center;
        margin-right: 0px;
        }
        
        .hero-left-content span {
            font-size: 1.2em;
            display: block;
        }
        
        .hero-left-content p{
            color: rgb(62, 62, 62);
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
        }
        
        
      
        
        .image-1{
            position:relative;
           width:100%; 
           margin: 0 auto;
           z-index:1;
          
        }
        
    .image-2{
        position:relative;
        width:450px; 
        margin: 0 auto;
        z-index:1;
    }
        .zaxis-img1{
            position:absolute;
            width: 400px;
            left: 1px;
            top: 133px;
        }
          
        .zaxis-img2{
            position:absolute;
            width: 421px;
            left: -6px;
            top: 131px;
        }

            
   
}




@media screen and (min-width:720px) and (max-width:992px){
    .card-section {
        padding: 100px 50px;
    }
    .card-item-wrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
     }

     .card-item{
        padding:15px;
    }




    .upper-div{
        width:80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;
      
     }
    
    .upper-div h1    {
        font-size:35px;
        }
   
    
    .contact-sec{
        padding:50px  10px 50px;
    
    }

.btn {
    padding: 14px 27px;
    font-size: 16px;
}


/* hero section */

.hero-section{
    padding:38px 50px;
    
   
}



.hero-left-content{
     width:50%;
     margin: auto;
    
}

.hero-left-content h1{
font-size: 3.6em;

}

.hero-left-content span {
    font-size: .7em;
    display: block;
}

.hero-left-content p{
    color: rgb(62, 62, 62);
font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 36px;
}

.hero-wrap{
    gap:20px;
}
.hero-wrap2{
    display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:row-reverse;
  gap:115px;
}

.image-1{
   width:340px; 
   z-index:1;
  
}

.image-2{

    width:370px; 
    z-index:1;
   
   
}

.zaxis-img1{
    width: 343px;
    left: 0px;
    top: 109px;
}
  
.zaxis-img2{
    width: 342px;
    left: -4px;
    top: 114px;
}



    
}


@media screen and (min-width:992px) and (max-width:1099px) {
    .upper-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 70px 40px;
      
     }
     .zaxis-img2{
        position:absolute;
        width: 366px;
    left: 0px;
    top: 138px;
    }
    
    
    
}

@media screen and (min-width:1099px) and (max-width:1920px){
    .zaxis-img2{
        position:absolute;
        width: 366px;
    left: 0px;
    top: 138px;
    }
}
   